  <section>
  {% if site.disqus_shortname %}
    <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_config = function () {
          this.page.url = '{{ site.url }}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
         })();
      </script>
      <noscript>要查看<a href="https://disqus.com/?ref_noscript"> Disqus </a>评论，请启用 JavaScript</noscript>
  {% endif %}
</section>
