doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
		title {{page.title}}
		link(href='/static/img/favicon.ico', rel='icon')
		// CSS
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='/static/css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
		link(href='/static/css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
	body
		include nav
		| {{content}}
		br
		br
		footer.page-footer.orange
			.container
				.row
					.col.l6.s12
						h5.white-text 个人介绍
						p.grey-text.text-lighten-4
							| 10年开始Android开发，一年后转做iOS，一直以来都从事iOS方面的工作，目前在拍拍贷从事iOS架构工作。 对组件化、iOS的架构设计有一定程度的理解。
					.col.l3.s12
						h5.white-text 导航
						ul
							li
								a.white-text(href='/categories') Category
							li
								a.white-text(href='/tags') Tag
							li
								a.white-text(href='/archive') Archive
							li
								a.white-text(href='/feed.xml') Feed
					.col.l3.s12
						h5.white-text 链接
						ul
							li
								a.white-text(href='https://github.com/wanyakun') Github
							li
								a.white-text(href='https://weibo.com/wanyakun') Weibo
							li
								a.white-text(href='#!') Facebook
							li
								a.white-text(href='mailto://yakun.wan@gmail.com') Email
			.footer-copyright
				.container
					| © 2018 wanyakun. All rights reserved. 豫ICP备17019333号-1.

		a#view_source(href="https://github.com/wanyakun/wanyakun.github.io").blue.waves-effect.waves-light.btn.btn-large.btn-floating
			i.material-icons code
			
		.tap-target(data-activates="view_source").blue
			.tap-target-content.white-text
				h5 这里是修改代码的地方!
				p 这里是修改网站内容的地方，如果你想有文章想要发表，就给我发邮件吧！.

		// Scripts
		script(src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(src='/static/js/materialize.js')
		script(src='/static/js/init.js')
