---
layout: base
title: Archive
permalink: /archive/
---

.container
  h2 Archive:
  ul
    // create the list of posts
    // iterate through all the posts on the site
    | {% for post in site.posts %}
    // list only those which contain the current tag
    li
      a(href='{{ post.url }}') {{ post.title }}
      // <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    | {% endfor %}