---
title: 坤坤同学
layout: base
---

#index-banner.section.no-pad-bot
	.container
		br
		br
		h1.header.center.orange-text 代码、摄影、户外
		.row.center
			h5.header.col.s12.light 一个爱好编程、摄影和户外的中年大叔，喜欢Github、喜欢风光和人像摄影、喜欢户外的各种活动
			p 人生终极梦想：牵手旅行、和相爱的人浪一辈子.
		.row.center
			a#download-button.btn-large.waves-effect.waves-light.orange(href='http://aioser.com/') 技术博客
		br
		br
.container
	.section
		// Icon Section
		.row
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons flash_on
					h5.center 代码
					p.light
						| 从C++、Delphi、C#、Java到SQL、Objective-C，随着工作的内容不同经历了很多语言，主要使用Objective-C，了解一点Swift，偶尔会使用Ruby写一些小工具，用Vue写一些页面. 目前使用最多的就是Objective-C语言，每天和iOS组件、CocoaPods、Fastlane、Jenkins打交道，夯实公司的Infrastructure.
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons group
					h5.center 摄影
					p.light
						| 为了让自己不宅在家里打游戏而找到一个爱好，之后才发现摄影和程序员是绝配，很多程序员都是会摄影. 摄影设备太烧钱，穷屌丝表示玩不起，目前够用就行，没有太大需求，毕竟没有一个漂亮的女朋友. 
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons settings
					h5.center 户外
					p.light
						| 15年误入户外，从此入坑一发不可收拾，从入门级的徽杭古道到大雷山，再到华东徒步圣地武功山，高原地区的梅里雨崩，目前积极准备雪山之行，中雪山的毒太深，今年四姑娘山二峰或者哈巴雪山，来年半脊山.


.container#blog_roll
	style.
		#red_header {
			text-align: center;
			box-sizing: border-box;
			padding: 20px;
		}
	h2.white-text.light-blue.lighten-1.z-depth-2#red_header From the Blog
	.row
		| {% for post in site.posts %}
		.col.s12.m6
			.card.white
				.card-content
					span.card-title {{post.title}}
					p {{post.excerpt}}
				.card-action
					a(href='{{post.url}}') Read More
		| {% endfor %}